<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educação Financeira</title>
    <link rel="shortcut icon" type="imagex/png" href="/public/img/icone site.png">
    <link rel="stylesheet" href="/bscss/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <header class="mb-5 bg-body rounded">
        <nav class="navbar navbar-expand-lg corroxa nav-shadow p-3">
            <div class="container-fluid me-auto mx-3">
                <img src="/public/img/icone site.png" alt="" width="30" height="24">
                <a class="navbar-brand text-light titulo1" href="/">EduCashOn</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end nav-hover" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0 mx-3">
                        <li class="nav-item">
                            <a class="nav-link active text-light hover px-3" aria-current="page" href="/">HOME</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light hover px-3" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                COMECE AQUI
                            </a>
                            <ul class="dropdown-menu corroxa">
                                <li><a class="dropdown-item text-light hover" href="/Conteudo/Juros">Juros</a></li>
                                <li><a class="dropdown-item text-light hover" href="/Conteudo/CreditoeDebito">Cédito e Débito</a></li>
                                <li><a class="dropdown-item text-light hover" href="/Conteudo/Contas">Tipos de Contas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light hover px-3" href="/QuemSomos">QUEM SOMOS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <main>
        {{{body}}}
    </main>

    <footer class="text-center text-white corroxa">
        <div class="container p-4">
            
            <section class="mb-4">
                <p>
                    Este site foi feito por Felipe Rodrigues Ferraz e Gabriela Vieira Ribeiro, com o intuito de ajudar
                    as pessoas á entenderem o básico sobre Educação Financeira. Este site foi desenvolvido como Projeto
                    Final de Curso para a finalização do ensino médio com Curso Técnico Integrado em Informática no
                    Instituto Federal do Mato Grosso do Sul - IFMS Campus Campo Grande.
                </p>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
    </footer>

    <script src="/jquery/jquery.slim.min.js"></script>
    <script src="/popperjs/popper.min.js"></script>
    <script src="/bsjs/bootstrap.min.js"></script>
</body>

</html>