<div class="container text-center">
  <div class="row align-items-start">
    <div class="col mt-5 pt-5">
      <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
          class="bi bi-arrow-bar-up  voltarinicio" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z" />
        </svg>
      </a>
    </div>
    <div class="col-7">
      <h1>O que são Contas<a class="interrogacao">?</a></h1>

      <div class="conteudo barra">
        <h3>Conta de Depósitos</h3>
        <p>Ela recebe esse nome porque oferece as principais funções que necessitamos ao lidar com dinheiro: depósitos,
          pagamentos, operações de crédito, transferências e investimentos.</p>

        <h3>Conta de Pagamentos</h3>
        <p>Permite apenas o pagamento de contas, faturas e boletos, além da realização de transferências via Pix ou
          TED/DOC.</p>
        <p>Ela pode ser aberta em diversas instituições financeiras e não financeiras, como bancos, fintechs e carteiras
          digitais.</p>

        <h3>Conta Corrente</h3>
        <p>Por isso, é a conta usada para as compras e pagamentos rotineiros, ou seja, fazer movimentos financeiros do
          dia
          a dia. Permite acompanhar todas as entradas e saídas de dinheiro por meio do extrato bancário.</p>
        <p>Os itens mais comuns que compõem esse pacote são:</p>
        <ul>
          <li>Abertura e manutenção da conta (em alguns casos, é cobrada uma mensalidade);</li>
          <li>Emissão e entrega de cheques;</li>
          <li>Entrega de cartões de crédito e débito;</li>
          <li>Saques em agências, caixas eletrônicos e rede Banco 24 Horas;</li>
          <li>Fornecimento de extrato mensal;</li>
          <li>Transferências entre contas.</li>
        </ul>
        <p>Cada um desses serviços costuma ser cobrado pela instituição bancária, principalmente quando envolvem
          atendimento presencial.</p>

        <h3>Conta Poupança</h3>
        <p>Esse tipo de conta permite apenas funções de saque, depósito e transferência.
          Entretanto, apesar de ser um dos investimentos mais populares do país pela sua segurança, vale ressaltar que a
          poupança tem uma das menores rentabilidades do mercado financeiro, em virtude de que ao depositar dinheiro
          nessa
          conta, o valor passa a render juros mensais. A quantia depositada deve ficar durante o mês para receber a
          rentabilidade, sendo que se retirada antes ela não se aplica ao valor. Este período é conhecido como o
          "aniversário" da poupança.</p>

        <h3>Conta Salário</h3>
        <p>O tipo dessa conta é voltada com o objetivo do recebimento do salário do trabalhador e outros benefícios
          relacionados ao que a empresa tem a oferecer. Normalmente, ela é aberta pela empresa que está contratando o
          funcionário, que já tem parceria com a instituição financeira responsável.</p>
        <p>Na conta salário, você tem as funções limitadas, como sacar dinheiro, utilizar o débito e transferir
          recursos.
          Isso se dá pelo motivo dela ser destinada somente para o recebimento de valores.</p>

        <h3>Conta universitária</h3>
        <p>A conta universitária é uma conta corrente oferecida pelos bancos com o principal objetivo de oferecer esse
          tipo de conta para o público de estudantes de nível superior durante a duração do curso. O principal
          diferencial
          da conta universitária são as taxas e tarifas mais baratas, que são compatíveis com a renda dos
          universitários.
        </p>

        <h3>Internet banking</h3>
        <p>Internet banking é um sistema que permite a gestão de uma conta corrente tradicional pela internet. Com esse
          recurso, os correntistas podem usar um aplicativo para celular ou uma versão desktop (computador) para
          verificar
          o extrato, pagar contas, fazer transferências, realizar aplicações, entre outras funções básicas. Vale
          ressaltar
          que esse tipo de conta está totalmente vinculado a uma conta tradicional. Por isso, nem todas as funções estão
          disponíveis online e, em muitos casos, é preciso ir até uma agência ou telefonar para o banco para resolver
          problemas.</p>

        <h3>Conta digital</h3>
        <p>É um tipo de conta totalmente digital com todas as funcionalidades de uma conta corrente. O grande
          diferencial
          desse tipo de conta é que se pode resolver tudo na palma da mão por meio de um aplicativo. Dessa forma, você
          não
          precisa ir até uma agência e consegue gerenciar seu dinheiro com muito mais praticidade. Além disso, a conta
          digital também pode ser aberta online em um processo simples, com envio de documentos pelo aplicativo.</p>

        <h3>Conta para menores de idade</h3>
        <p>Atualmente, existem bancos que oferecem contas bancárias para crianças e adolescentes, com o propósito de
          manusear a conta baseada em educação financeira, para aprender a usar e cuidar de seu dinheiro. No geral, são
          gerenciadas pelos pais ou responsáveis.</p>
      </div>
    </div>
    <div class="col">
      <i>
        <h5>SAIBA MAIS:</h5>
      </i>
    </div>
  </div>
</div>