<div class="container text-center" style="margin-right: 2%!important;">
  <div class="row align-items-start">
    <div class="col mt-5 pt-5">
      <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
          class="bi bi-arrow-bar-up  voltarinicio" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z" />
        </svg>
      </a>
    </div>
    <div class="col-7">

      <h1 class="titulo">O que é Crédito e Débito<a class="interrogacao">?</a></h1>

      <div class="conteudo barra">

        <img src="/public/img/Cartões.png" alt="O que são Juros?" class="img-fluid rounded">

        <h3>Conceito</h3>

        <p>Você já deve ter ouvido falar que existem duas formas de se realizar um pagamento com um cartão, que são
          crédito e débito, mas o que é cada uma delas? E quais são suas diferenças?
        </p>

        <h3>O que é o Crédito?</h3>
        <p>Crédito é a forma de pagamento utilizada na qual se tem a confiança de que o usuário terá o dinheiro para
          realizar o pagamento depois. Deste modo o usuário pode realizar um pagamento sem ter o dinheiro em sua conta
          naquele momento, porém, será cobrada uma porcentagem do valor que foi pago para o banco.</p>

        <h3>O que é Débito?</h3>
        <p>Débito é a forma de pagamento em que o usuário utiliza o dinheiro que tem em sua conta bancária, porém, não é
          cobrado nenhum valor adicional. Deste modo, o valor será cobrado diretamente de sua conta no momento de sua
          compra ou no momento definido como data de vencimento do pagamento.
        </p>

        <h3>Qual a diferença de Crédito e Débito?</h3>
        <p>Enquanto, para se utilizar o Débito você precisa ter dinheiro em sua conta para ser descontado na hora do
          pagamento, o crédito te permite fazer um pagamento sem que o dinheiro esteja em sua conta bancária, no qual
          será cobrado depois quando tiver dinheiro, porém, com uma porcentagem do valor a mais que será cobrado para o
          banco.</p>
        <p>Cada uma das formas de pagamento pode ser usada em uma situação diferente, por exemplo: quando estiver com
          dinheiro é melhor sempre optar por pagar com o Débito, pois o valor a ser pago é menor que o valor cobrado no
          Crédito; quando precisar realizar um pagamento, porém não tiver dinheiro, você pode utilizar o Crédito, e
          quando tiver dinheiro em sua conta será cobrado automaticamente. </p>
        <p>Só é preciso tomar cuidado quando efetuar muitos pagamentos no Crédito, pois caso no mês seguinte você não
          tenha dinheiro para cobrir o valor que estava sendo cobrado, este valor vai só aumentando, até se tornar uma
          bola de neve de dívidas e se tornar caro demais para ser pago.</p>
      </div>
    </div>
    <div class="col-3">
      <i>
        <h5 class="saibamais">SAIBA MAIS:</h5>
      </i>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-5">
            <img src="/public/img/Juros2.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">JUROS</h5>
              <p class="card-text">Você sabe o que são os Juros e como eles funcionam?</p>
              <a href="/Conteudo/Juros" class="btn btn-primary">Clique aqui</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-5">
            <img src="/public/img/Contas.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">TIPOS DE CONTAS</h5>
              <p class="card-text">Quais são os tipos de contas existentes em um banco?</p>
              <a href="/Conteudo/Contas" class="btn btn-primary">Clique aqui</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-5">
            <img src="/public/img/Inv.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">INVESTIMENTOS</h5>
              <p class="card-text">É importante saber o básico sobre investimentos.</p>
              <a href="/Conteudo/Investimentos" class="btn btn-primary">Clique aqui</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-5">
            <img src="/public/img/Segredos-Mente-Milionaria-800x1200.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">ARQUIVOS DA RIQUEZA</h5>
              <p class="card-text">Saiba o que os arquivos da riqueza de T. Harv Eker dizem.</p>
              <a href="/Conteudo/Livros" class="btn btn-primary">Clique aqui</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>