<main class="mb-5 bg-body rounded">
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <img src="/public/img/educacao-financeira.jpg" alt="Educação Financeira">
            </div>
            <div class="col EduCashOn">
                <h1>O que é o EduCashOn<a class="interrogacao">?</a></h1>
                <p class="conteudo">O Educating Cash Online (em portugues, Educando o Dinheiro Online) é um site que
                    busca trazer
                    informações básicas sobre educação financeira.
                    Surgiu a partir da ideia de ensinar de forma simplificada sobre finanças, tais como juros, crédito,
                    débito e etc. Este site foi criado para a realização do Projeto Final de Curso dos alunos do Curso
                    Técnico Integrado de Informática do Instituto Federal do Mato Grosso do Sul Campus Campo Grande.
                </p>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 p-5">
        <div class="col">
            <div class="card corroxa text-light">
                <div class="card-body">
                    <h5 class="card-title text-center">Juros</h5>
                    <p class="card-text">Juros é uma porcentagem do valor de um dinheiro emprestado que é cobrada
                        gradualmente sobre o valor total que é incrementado por parcela.</p>

                    <p class="card-text">Fazendo uma analogia simples, o juros é como se fosse o aluguel de um apartamento, onde o
                        aluguel é o juros. Como resultado disso, devemos pagar todo mês para usar o apartamento de
                        alguém ou podendo ocorrer o inverso também — no qual recebemos por emprestarmos o nosso
                        apartamento para alguém e recebemos por isso.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card corroxa text-light">
                <div class="card-body">
                    <h5 class="card-title text-center">Crédito</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card corroxa text-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Débito</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card corroxa text-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Contas</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="corroxa blocoafrase">
        <div class="backbola">
            <div class="bola">
                <p class="text-light">
                    ""
                </p>
            </div>
        </div>
        <div class="p-5">
            <p class="text-light afrase">
                Investir em conhecimento rende <br> sempre os melhores juros
            </p>
            <p class="text-light benjamin">
                — Benjamin Franklin
            </p>
        </div>
    </section>
</main>