<main class="mb-5 bg-body rounded">
    <h1>Seja Bem Vindo ao Nosso Site de Educação Financeira</h1>

    <div class="grid text-center" style="--bs-columns: 10; --bs-gap: 1rem;">
        <div class="g-col-8 d-flex">
            <img src="/public/img/educacao-financeira.jpg" alt="">
        </div>
        <div class="g-col-2">
            sadkdajdhak
        </div>
    </div>
</main>