<main class="mb-5 bg-body rounded">
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <img src="/public/img/educacao-financeira.jpg" alt="Educação Financeira">
            </div>
            <div class="col EduCashOn">
                <h1>O que é o EduCashOn<a class="interrogacao">?</a></h1>
                <p class="conteudo">O Educating Cash Online (em portugues, Educando o Dinheiro Online) é um site que
                    busca trazer
                    informações básicas sobre educação financeira.
                    Surgiu a partir da ideia de ensinar de forma simplificada sobre finanças, tais como juros, crédito,
                    débito e etc. Este site foi criado para a realização do Projeto Final de Curso dos alunos do Curso
                    Técnico Integrado de Informática do Instituto Federal do Mato Grosso do Sul Campus Campo Grande.
                </p>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 p-5">
        <div class="col">
            <div class="card corroxa text-light">
                <div class="card-body">
                    <h5 class="card-title text-center">Juros</h5>
                    <p class="card-text">Juros é uma porcentagem do valor de um dinheiro emprestado que é cobrada
                        gradualmente sobre o valor total que é incrementado por parcela.</p>

                    <p class="card-text">Fazendo uma analogia simples, o juros é como se fosse o aluguel de um
                        apartamento, onde o
                        aluguel é o juros. Como resultado disso, devemos pagar todo mês para usar o apartamento de
                        alguém ou podendo ocorrer o inverso também — no qual recebemos por emprestarmos o nosso
                        apartamento para alguém e recebemos por isso.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card corroxa text-light">
                <div class="card-body">
                    <h5 class="card-title text-center">Crédito</h5>
                    <p class="card-text">Crédito é a forma de pagamento utilizada na qual se tem a confiança de que o
                        usuário terá o dinheiro para realizar o pagamento depois. Deste modo o usuário pode realizar um
                        pagamento sem ter o dinheiro em sua conta naquele momento, porém, será cobrada uma porcentagem
                        do valor que foi pago para o banco.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card corroxa text-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Débito</h5>
                    <p class="card-text">Débito é a forma de pagamento em que o usuário utiliza o dinheiro que tem em
                        sua conta bancária, porém, não é cobrado nenhum valor adicional. Deste modo, o valor será
                        cobrado diretamente de sua conta no momento de sua compra ou no momento definido como data de
                        vencimento do pagamento.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card corroxa text-light">
                <div class="card-body text-center">
                    <h5 class="card-title">Contas</h5>
                    <p class="card-text">Uma conta bancária é um relacionamento firmado entre um cliente e um banco, em
                        que o cliente mantém uma quantia em dinheiro aos cuidados do banco e arca com alguns custos por
                        isso. Os principais tipos de conta são a conta-corrente, a conta de poupança e a conta-salário.
                        A conta-corrente é o tipo mais comum. Nela, o dinheiro fica à sua disposição para ser sacado a
                        qualquer momento. Essa conta não gera rendimentos para o depositante.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="corroxa blocoafrase">
        <div class="backbola">
            <div class="bola">
                <img src="/public/img/aspas.png" class="aspas">
            </div>
        </div>
        <div class="p-5">
            <p class="text-light afrase">
                Investir em conhecimento rende <br> sempre os melhores juros
            </p>
            <p class="text-light benjamin">
                — Benjamin Franklin
            </p>
        </div>
    </section>

    <div class="container text-center p-5">
        <div class="row align-items-start">
            <div class="col EduCashOn">
                <h1>Qual a importancia de se aprender sobre a Educação Financeira<a class="interrogacao">?</a></h1>
                <p class="conteudo">O Educating Cash Online (em portugues, Educando o Dinheiro Online) é um site que
                    busca trazer
                    informações básicas sobre educação financeira.
                    Surgiu a partir da ideia de ensinar de forma simplificada sobre finanças, tais como juros, crédito,
                    débito e etc. Este site foi criado para a realização do Projeto Final de Curso dos alunos do Curso
                    Técnico Integrado de Informática do Instituto Federal do Mato Grosso do Sul Campus Campo Grande.
                </p>
            </div>
            <div class="col">
                <img style="max-width: 600px;" src="/public/img/ImpoEduFin.png" alt="Educação Financeira">
            </div>
        </div>
    </div>

    <div class=" livros p-5">
        <p class="text-light afrase">
            Alguns Livros sobre Educação Finanaceira
        </p>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card">
                    <img src="/public/img/Segredos-Mente-Milionaria-800x1200.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Os Segredos da Mente Milhonária</h5>
                        <p class="card-text">O livro de T. Harv Eker traça o paralelo de 17 diferenças entre a forma de
                            pensar dos milionários e das pessoas medianas, ao passo que traz ideias que te auxiliarão a
                            iniciar no mundo das finanças com o pé direito.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Autor: T. Harv Eker</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://www.google.com/search?q=o+segredo+da+mente+milionária&source=lmns&bih=723&biw=1495&client=opera-gx&hs=0tX&hl=pt-BR&sa=X&ved=2ahUKEwi-_dPTqYf8AhU3u5UCHTfpCesQ_AUoAHoECAEQAA"
                            class="card-link">Link da Pesquisa</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/public/img/PaiRicoPaiPobre-800x1210.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pai Rico Pai Pobre</h5>
                        <p class="card-text">Um dos livros de educação financeira mais vendidos no mundo, o livro conta
                            com a história de dois pais: um bem-sucedido academicamente, com um PhD e cursos em três
                            faculdades conceituadas, em contraste com um que nem havia terminado o ensino médio.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Autor: Robert T. Kiyosaki</li>
                    </ul>
                    <div class="card-body">
                        <a
                            href="https://www.google.com/search?q=pai+rico+pai+pobre&source=lmns&bih=723&biw=1495&client=opera-gx&hl=pt-BR&sa=X&ved=2ahUKEwi9_YT_qof8AhU0t5UCHQq_AkUQ_AUoAHoECAEQAA">
                            Link da Pesquisa</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/public/img/InvestidorInteligente-800x1187.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">O Investidor Inteligente</h5>
                        <p class="card-text">“O Investidor Inteligente” é um dos livros mais completos para quem deseja
                            compreender a fundo o universo dos investimentos, enquanto ensina lições importantes para
                            quem deseja investir bem e de forma estratégica na Bolsa de Valores.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Autor: Benjamin Graham</li>
                    </ul>
                    <div class="card-body">
                        <a
                            href="https://www.google.com/search?q=o+investidor+inteligente&client=opera-gx&sxsrf=ALiCzsbr-rIfw8rwYdYR7LfCXPAkGMu3ug%3A1671510116924&ei=ZDihY-2COOya1sQPv_qkkAo&gs_ssp=eJzj4tTP1TcwrywrqjRg9JLIV8jMK0stLslMyS8CMktSczLTU4EUAOn4DUE&oq=o+inves&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAxgAMggILhCxAxCABDIFCAAQgAQyBQguEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoECCMQJzoECC4QQzoECAAQQzoLCC4QgAQQsQMQ1AI6BwguELEDEEM6CAguEIAEELEDOgsILhCABBCxAxCDAToOCC4QgAQQxwEQrwEQ1AI6CAguEIAEENQCSgQIQRgASgQIRhgAUABYxQhghRBoAHABeACAAagBiAHDCJIBAzAuN5gBAKABAcABAQ&sclient=gws-wiz-serp">
                            Link da Pesquisa</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/public/img/PsicologiaFinanceira-800x1186.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">A Psicologia Financeira</h5>
                        <p class="card-text">O livro possui linguagem simples e, acima de tudo, é embasado nas histórias
                            de investidores, empresários e cases de negócios de sucesso.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Autor: Morgan Housel</li>
                    </ul>
                    <div class="card-body">
                        <a
                            href="https://www.google.com/search?q=a+psicologia+financeira&client=opera-gx&sxsrf=ALiCzsaR70dOXOYM2BxgJm_6xz2PgaePBw%3A1671510107858&ei=WzihY-j9M5bK1sQP1ZqMgAI&ved=0ahUKEwiol96xrIf8AhUWpZUCHVUNAyAQ4dUDCA4&uact=5&oq=a+psicologia+financeira&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIKCC4QgwEQsQMQQzIFCAAQgAQyBQgAEIAEMgQIABBDMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOgoIABBHENYEELADOgcIABCwAxBDOg0IABDkAhDWBBCwAxgBOgwILhDIAxCwAxBDGAI6BAgjECc6CwguEIMBELEDEIAEOgsIABCABBCxAxCDAToGCAAQBxAeSgQIQRgASgQIRhgBUNIUWN0ZYO8daAFwAXgAgAGQAYgBngKSAQMwLjKYAQCgAQHIARPAAQHaAQYIARABGAnaAQYIAhABGAg&sclient=gws-wiz-serp">
                            Link da Pesquisa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>