<div class="container text-center">
  <div class="row align-items-start">
    <div class="col mt-5 pt-5">
      <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
          class="bi bi-arrow-bar-up  voltarinicio" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z" />
        </svg>
      </a>
    </div>
    <div class="col-7">
      <h1 class="titulo">O que é Juros<a class="interrogacao">?</a></h1>
      <div class="conteudo barra">
        <h3>Conceito</h3>
        <p>Juros é uma porcentagem do valor de um dinheiro emprestado que é cobrada gradualmente sobre o valor total que
          é incrementado por parcela.</p>
        <p>Fazendo uma analogia simples, o juros é como se fosse o aluguel de um apartamento, onde o aluguel é o juros.
          Como resultado disso, devemos pagar todo mês para usar o apartamento de alguém ou podendo ocorrer o inverso
          também — no qual recebemos por emprestarmos o nosso apartamento para alguém e recebemos por isso.</p>
        <h3>Juros simples x Juros compostos</h3>
        <p>A diferença entre os dois está em que enquanto o juros simples atua sempre sobre o capital inicial, não
          existem juros sobre juros. Já o juros compostos é o que incide sempre sobre o montante do período anterior,
          nele incide juros sobre juros. Para entender melhor, esse juros é conhecido como o juros da bola de neve.
        </p>
      </div>
      <div class="barra">
        <h1 class="titulo">Calculadora de Juros</h1>
        <select class="form-select" id="tipo" aria-label="Default select example">
          <option value="1" selected>simples</option>
          <option value="2">composto</option>
        </select>
        <div class="mb-3 mt-5 d-flex">
          <div class="col-sm-10 w-25">
            <label for="staticEmail" class="-form-label">capital</label>
            <input type="text" class="form-control" id="capital">
          </div>
          <div class="col-sm-10 mx-5 w-25">
            <label for="staticEmail" class="-form-label">taxa por mês em %</label>
            <input type="text" class="form-control" id="taxa">
          </div>
          <div class="col-sm-10 mx-5 w-25">
            <label for="staticEmail" class="-form-label">tempo em meses</label>
            <input type="text" class="form-control" id="tempo">
          </div>
        </div>
        <div class="mb-3 mt-5">
          <div class="col-sm-10 w-25">
            <label for="staticEmail" class="form-label">Valor de juros</label>
            <input type="text" class="form-control" id="juros" disabled>
          </div>
          <div class="col-sm-10 w-25 mt-3">
            <label for="staticEmail" class="form-label">Valor do montante</label>
            <input type="text" class="form-control" id="montante" disabled>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <i>
        <h5 class="saibamais">SAIBA MAIS:</h5>
      </i>
    </div>
  </div>
</div>

<script src="/public/js/calculadora.js"></script>