<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
    </div>
    <div class="col-7">
      <h1 class="titulo">O que é Juros<a class="interrogacao">?</a></h1>
      <div class="conteudo barra">
        <h3>Conceito</h3>
        <p>Juros é uma porcentagem do valor de um dinheiro emprestado que é cobrada gradualmente sobre o valor total que
          é incrementado por parcela.</p>
        <p>Fazendo uma analogia simples, o juros é como se fosse o aluguel de um apartamento, onde o aluguel é o juros.
          Como resultado disso, devemos pagar todo mês para usar o apartamento de alguém ou podendo ocorrer o inverso
          também — no qual recebemos por emprestarmos o nosso apartamento para alguém e recebemos por isso.</p>
        <h3>Juros simples x Juros compostos</h3>
        <p>A diferença entre os dois está em que enquanto o juros simples atua sempre sobre o capital inicial, não
          existem juros sobre juros. Já o juros compostos é o que incide sempre sobre o montante do período anterior,
          nele incide juros sobre juros. Para entender melhor, esse juros é conhecido como o juros da bola de neve.
        </p>
      </div>
    </div>
    <div class="col">
      <i>
        <h5 class="saibamais">SAIBA MAIS:</h5>
      </i>
    </div>
  </div>
</div>