<div class="container text-center">
  <div class="row align-items-start">
    <div class="col mt-5 pt-5">
      <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
          class="bi bi-arrow-bar-up  voltarinicio" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z" />
        </svg>
      </a>
    </div>
    <div class="col-7">
      <h1>Dicas de Alguns dos Melhores Livros Sobre Educação Financeira<a class="interrogacao">:</a></h1>

      <div class="conteudo barra">
        <h3>Review dos arquivos de riqueza de T. Harv Eker</h3>
        <p>Esta página tem o intuito de citar alguns dos “arquivos de riqueza” descritos no livro: “Os segredos da mente
          milionária" de T. Harv Eker. Neste livro o autor fala sobre alguns comportamentos e ações que os ricos têm e
          quem as pessoas de classe média ou pessoas mais pobres não apresentam, ele também afirma que além das
          habilidades de educação financeira, investimentos, empreendedorismo e etc, estes comportamentos são essenciais
          para o sucesso financeiro.
        </p>
        <p>O total de “arquivos de riqueza” citados no livro é de 17, porém preferimos apresentar um total de 5 deles.
        </p>

        <h3 style="text-align: center;">Arquivo de riqueza n° 1</h3>
        <p style="text-align: center;">As pessoas ricas acreditam na seguinte ideia:
        <br>“Eu crio minha própria vida.”
        <br>As pessoas de mentalidade pobre acreditam na seguinte ideia:
        <br>“Na minha vida, as coisas acontecem”
        </p>
        <p>Neste arquivo o autor T. Harv Eker diz para criar nossa própria vida (como sugere o título) e também fala
          principalmente a respeito da vitimização. As pessoas que se vitimizam não assumem as responsabilidades, culpa
          e etc, geralmente a culpa é de outro agente, a responsabilidade é de outra pessoa nunca delas mesmas. Este
          estilo de vida pode ser confortável, porém não traz muitos resultados, pois ao se fazer de vítima você não
          busca melhorar a situação e continua a jogar a culpa no outro.</p>

        <p>Mas sendo assim, como descobrir se alguém (ou você mesmo) está se fazendo de vítima? A resposta é simples,
          essas pessoas deixam três pistas óbvias:</p>
        <ul>
          <li>Pista n° 1 da vítima: a culpa é dos outros.</li>
          <li>Pista n° 2 da vítima: sempre há uma justificativa.</li>
          <li>Pista n° 3 da vítima: viver se queixando.</li>
        </ul>

        <h3 style="text-align: center;">Arquivo de riqueza n° 5</h3>
        <p style="text-align: center;">As pessoas ricas focalizam oportunidades.
        <br>As pessoas de mentalidade pobre focalizam obstáculos.
        </p>

        <p>Neste arquivo o autor explica que as pessoas ricas visam as oportunidades à sua frente, já as pessoas de
          mentalidade pobre ficam tão concentradas nos obstáculos que acabam não saindo do lugar, ou quando saem já é
          tarde demais.</p>
        <p>Mas o que isso significa? Um exemplo bem simples é a bolsa de valores, muitas pessoas tem medo de colocar o
          seu dinheiro lá com medo de perdê-lo, então essas pessoas estudam muito (ou esquecem o assunto) para assim
          estarem seguras do que estão fazendo.</p>
      </div>
    </div>
    <div class="col">
      <i>
        <h5>SAIBA MAIS:</h5>
      </i>
    </div>
  </div>
</div>