<div class="container text-center" style="margin-right: 2%!important;">
  <div class="row align-items-start">
    <div class="col mt-5 pt-5">
      <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
          class="bi bi-arrow-bar-up  voltarinicio" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z" />
        </svg>
      </a>
    </div>
    <div class="col-7">
      <h1 class="titulo">5 de 17 Arquivos da Riqueza<a class="interrogacao">:</a></h1>

      <div class="conteudo barra">

        <div class="container text-center">
          <div class="row align-items-start">
            <div class="col">
              <img style="max-width: 350px;" src="/public/img/Segredos-Mente-Milionaria-800x1200.jpg"
                alt="Educação Financeira">
            </div>
            <div class="col">
              <h3 style="text-align: center;">Review dos arquivos de riqueza de T. Harv Eker</h3>
              <p style="text-align: justify;">Esta página tem o intuito de citar alguns dos “arquivos de riqueza”
                descritos no livro: “Os segredos da
                mente
                milionária" de T. Harv Eker. Neste livro o autor fala sobre alguns comportamentos e ações que os ricos
                têm
                e
                quem as pessoas de classe média ou pessoas mais pobres não apresentam, ele também afirma que além das
                habilidades de educação financeira, investimentos, empreendedorismo e etc, estes comportamentos são
                essenciais
                para o sucesso financeiro.
              </p>
            </div>
          </div>
        </div>
        <p>O total de “arquivos de riqueza” citados no livro é de 17, porém preferimos apresentar um total de 5 deles.
        </p>

        <h3 style="text-align: center;">Arquivo de riqueza n° 1</h3>
        <p style="text-align: center;">As pessoas ricas acreditam na seguinte ideia:
          <br>“Eu crio minha própria vida.”
          <br>As pessoas de mentalidade pobre acreditam na seguinte ideia:
          <br>“Na minha vida, as coisas acontecem”
        </p>
        <p>Neste arquivo o autor T. Harv Eker diz para criar nossa própria vida (como sugere o título) e também fala
          principalmente a respeito da vitimização. As pessoas que se vitimizam não assumem as responsabilidades, culpa
          e etc, geralmente a culpa é de outro agente, a responsabilidade é de outra pessoa nunca delas mesmas. Este
          estilo de vida pode ser confortável, porém não traz muitos resultados, pois ao se fazer de vítima você não
          busca melhorar a situação e continua a jogar a culpa no outro.</p>

        <p>Mas sendo assim, como descobrir se alguém (ou você mesmo) está se fazendo de vítima? A resposta é simples,
          essas pessoas deixam três pistas óbvias:</p>
        <ul>
          <li>Pista n° 1 da vítima: a culpa é dos outros.</li>
          <li>Pista n° 2 da vítima: sempre há uma justificativa.</li>
          <li>Pista n° 3 da vítima: viver se queixando.</li>
        </ul>

        <h3 style="text-align: center;">Arquivo de riqueza n° 5</h3>
        <p style="text-align: center;">As pessoas ricas focalizam oportunidades.
          <br>As pessoas de mentalidade pobre focalizam obstáculos.
        </p>

        <p>Neste arquivo o autor explica que as pessoas ricas visam as oportunidades à sua frente, já as pessoas de
          mentalidade pobre ficam tão concentradas nos obstáculos que acabam não saindo do lugar, ou quando saem já é
          tarde demais.</p>
        <p>Mas o que isso significa? Um exemplo bem simples é a bolsa de valores, muitas pessoas tem medo de colocar o
          seu dinheiro lá com medo de perdê-lo, então essas pessoas estudam muito (ou esquecem o assunto) para assim
          estarem seguras do que estão fazendo (assim evitando riscos), porém quando irão agir a oportunidade já se foi.
          Isto não significa que você deve ignorar os obstáculos, muito pelo contrário também leve-os em consideração,
          porém não deixe-o parar, e sempre tome riscos calculados, onde o percentual de perda será pequeno (ou então
          considerável).</p>

        <h3 style="text-align: center;">Arquivo de riqueza n° 9</h3>
        <p style="text-align: center;">As pessoas ricas são maiores do que seus problemas.
          <br>As pessoas de mentalidade pobre são menores que seus problemas.
        </p>
        <p>Um dos grandes diferenciais das pessoas ricas de acordo com T. Harv Eker são como elas lidam com os
          problemas, de acordo com ele as pessoas de mentalidade pobre estagnam em um “nível” de problema e lá ficam,
          por que isso acontece? Simples pois essas pessoas não se esforçam para crescer, um exemplo bastante simples:
          imagine que você está acostumado a resolver problemas de nível 2, porém aparece um problema de nível 5, ou
          seja um problema muito maior que você, então você se esforça e consegue chegar ao nível 8, este problema é um
          problema pequeno ou grande? Ora, pequeno. Entende como funciona? O que importa não é o tamanho do seu problema
          e sim qual o seu tamanho. Um outro exemplo: Se você está no nível de 10 de e surge novamente um problema de
          nível 5, este problema é grande ou pequeno? Bom ele já nem é um problema de tão insignificante comparado a
          você.</p>

        <h3 style="text-align: center;">Arquivo de riqueza n° 10</h3>
        <p style="text-align: center;">As pessoas ricas são excelentes recebedoras.
          <br>As pessoas de mentalidade pobre são péssimas recebedoras.
        </p>
        <p>Neste arquivo é relatado que as pessoas de mentalidade pobre não são boas recebedoras, porque simplesmente
          não se acham merecedoras e simplesmente não aceitam ou então falam que “está muito exagerado”, a muitas
          pessoas ricas também que se tornaram ricas para provar o seu valor, porém entenda que ser merecedor ou não é
          somente uma “história” inventada. Lembre-se que nada tem significado, exceto aquele que nós mesmos atribuímos
          às coisas.</p>
        <p>O segundo motivo pela dificuldade de receber é acreditar no ditado que “dar é melhor que receber”, porém
          essas duas coisas não seriam equivalentes? O autor do livro afirma isso, afinal se alguém está dando outra
          pessoa deve estar recebendo, ou seja, são dois lados da mesma moeda. Lembre-se também de sempre agradecer o
          que receber, pense no seguinte ditado: aquele que não se dispõe a receber “rouba” quem quer lhe dar algo. Ou
          seja, recusar-se a receber é negar a alegria de quem doou, isto pode levar a você receber menos coisas de
          qualquer pessoa ou então do “universo”.</p>

        <h3 style="text-align: center;">Arquivo de riqueza n° 15</h3>
        <p style="text-align: center;">As pessoas ricas põem o seu dinheiro para dar duro para elas.
          <br>As pessoas de mentalidade pobre dão duro pelo seu dinheiro.
        </p>
        <p>Se você é como a maioria das pessoas, deve ter crescido programado a acreditar que “tem que dar duro para
          ganhar dinheiro”. Mas são boas as chances de não ter sido criado com o condicionamento de que deve fazer o
          dinheiro “dar duro” para você.</p>
        <p>Trabalhar é sim muito importante, porém mais importante ainda é saber colocar o seu dinheiro para trabalhar
          para você, afinal ele é um empregado que trabalha 24h por dia 7 dias por semana sem direito a férias. As
          pessoas ricas acreditam sim que deve-se trabalhar pelo dinheiro, porém é uma situação temporária, até que o
          dinheiro delas de tão duro que elas podem simplesmente parar de trabalhar, ou seja: quanto mais o seu dinheiro
          trabalha, menos eles terão que trabalhar.</p>
        <p>Então busque formas de fazer o seu dinheiro “dar duro” por você, assim menos você precisará dar duro por ele,
          desta forma você estará livre para viver o estilo de vida que bem desejar sem precisar trabalhar nem depender
          do dinheiro de alguém.</p>

        <p></p>
      </div>
    </div>
    <div class="col-3">
      <i>
        <h5 class="saibamais">SAIBA MAIS:</h5>
      </i>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-5">
            <img src="/public/img/Juros2.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">JUROS</h5>
              <p class="card-text">Você sabe o que são os Juros e como eles funcionam?</p>
              <a href="/Conteudo/Juros" class="btn btn-primary">Clique aqui</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-5">
            <img src="/public/img/Cartões2.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">CRÉDITO E DÉBITO</h5>
              <p class="card-text">Saber as diferenças sobre crédito e débito são essenciais.</p>
              <a href="/Conteudo/CreditoeDebito" class="btn btn-primary">Clique aqui</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-5">
            <img src="/public/img/Contas.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">TIPOS DE CONTAS</h5>
              <p class="card-text">Quais são os tipos de contas existentes em um banco?</p>
              <a href="/Conteudo/Contas" class="btn btn-primary">Clique aqui</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-5">
            <img src="/public/img/Inv.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title">INVESTIMENTOS</h5>
              <p class="card-text">É importante saber o básico sobre investimentos.</p>
              <a href="/Conteudo/Investimentos" class="btn btn-primary">Clique aqui</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>