<main class="mb-5 bg-body rounded">
    <h1 class="Quem_Somos">Quem Somos</h1>
    <h1 class="Quem_Somos"> Equipe e Colaboradores</h2>

        <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
            <div class="col">
                <div class="card card1">
                    <img src="/public/img/Felipe_Ferraz-removebg-preview.png" class="card-img-top" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Felipe Ferraz</h5>
                        <p class="card-text">Um Genio. Quem neste mundo poderia se comparar a ele? Sabe de tudo, o cara
                            é TOP demais, inteligente, bonitão. Esse é o cara.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card2">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card3">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                    </div>
                </div>
            </div>
        </div>
</main>