<main class="mb-5 bg-body rounded">
    <h1 class="Quem_Somos">Quem Somos</h1>
    <h1 class="Quem_Somos"> Equipe e Colaboradores</h2>

        <div class="row row-cols-1 row-cols-md-3 g-4 p-5">
            <div class="col">
                <div class="card card1">
                    <div class="card-body">
                        <h5 class="card-text">Felipe Ferraz</h5>
                        <p class="card-text">Um Genio. Quem neste mundo poderia se comparar a ele? Sabe de tudo, o cara
                            é TOP demais, inteligente, bonitão.</p>
                    </div>
                    <img src="/public/img/Felipe_Ferraz-removebg-preview.png" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card card2">
                    <div class="card-body">
                        <h5 class="card-title">Gabriela Ribeiro</h5>
                        <p class="card-text">Olá, me chamo Gabriela. Sou estudante do IFMS desde 2019, gosto muito de
                            cursar informática. Nas horas vagas, gosto de ler e desenhar.</p>
                    </div>
                    <img src="/public/img/Gabaa2.png" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card card3">
                    <div class="card-body">
                        <h5 class="card-title">Wesley Kanashiro</h5>
                        <p class="card-text">Bonitão, olhos azuis, cabelos castanhos, lotado das faculdades,
                            cheio da grana. Só não é mais brabo porque é só um.</p>
                    </div>
                    <img src="/public/img/Wesley.png" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card card3">

                    <div class="card-body">
                        <h5 class="card-title">Vinicius Mascarenhas</h5>
                        <p class="card-text">"Os humanos que a mim vieram se tornaram grandes sábios, retentores do
                            conhecimento absoluto" - Vinícius Mascarenhas, 2022</p>
                    </div>
                    <img src="/public/img/Vinicius.png" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card card3">
                    <div class="card-body">
                        <h5 class="card-title">Wilker Sebastian</h5>
                        <p class="card-text">"A humanidade não pertence a mim, pois dela somente vem a mentira! Porém a
                            minha vontade essa sim é absoluta." - Wilker Sebastian, 2022</p>
                    </div>
                    <img src="/public/img/Wilker.png" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card card3">
                    <div class="card-body">
                        <h5 class="card-title">Nicolas Valente</h5>
                        <p class="card-text">"Os verdadeiros poggers são os noggers que fazemos no caminho" - Nicolas
                            Valente, 2022</p>
                    </div>
                    <img src="/public/img/Nicolas.png" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
</main>