<main>
    <div>
        <h1 class="Site">Como nosso site foi feito<a class="interrogacao">?</a></h1>

        <p class="textos">Este site foi feito com a combinação de várias ferramentas diferentes, com o intuito de ser
            simples e de código aberto, ou seja, para que qualquer um possa acessar seu código em um repositório online.
            Para realizar isto foram ultilizadas ferramentas como o Visual Studio Code, para a edição do código, e o
            GitHub, o repositório online anteriormente falado.</p>
    </div>

    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <iframe width="700" height="415" src="https://www.youtube.com/embed/pBy1zgt0XPc"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="col EduCashOn" style="padding-top: 0%!important;">
                <h1>O que é o GitHub<a class="interrogacao">?</a></h1>
                <p class="conteudo">O github é uma plataforma que, em 2008, veio como uma local para o armazenamento de
                    versionamento remoto do git, onde você poderia ter o seu projeto local e através do git mandar uma
                    versão dele para seu repositório remoto no github para todos ou somente pessoas envolvidas verem o
                    que você está desenvolvendo. E que agora se tornou o principal meio que os desenvolvedores têm de
                    armazenar e até mostrar seus códigos e projetos. Além disso, hoje se tornou também uma rede social
                    para desenvolvedores participarem de eventos e conversarem com outros desenvolvedores.
                </p>
                <a href="https://github.com/FelipeFerrazDM/PFC.git" class="conteudo" target="_blank">Link do Repositório
                    do nosso site
                    no GitHub</a>
            </div>
        </div>
    </div>

    <div class="container text-center" style="padding-top: 40px;">
        <div class="row align-items-start">
            <div class="col-8 EduCashOn">
                <h1>E quais foram todas a ferramentas usadas<a class="interrogacao">?</a></h1>
                <p class="conteudo">As principais ferramentas que foram utilizadas para a programação do site são:
                    Javascript, que é uma linguagem de programação para Web; Typescript, sendo uma variação do
                    Javascript; Handlebars, um template comum que apresenta linguagem HTML com expressões próprias
                    embutidas; Node JS, funcionando como um código em Javascript possa ser executado fora de um ambiente
                    de navegação Web; GitHub, como o repositório online de código aberto do site; e o Visual Studio
                    Code, como o editor de código fonte, no qual todo o site foi criado. A junção de todas estas
                    tecnologias proporcionou a criação deste trabalho.
                </p>
            </div>
            <div class="col">
                <img src="/public/img/Ferramentas.jpg" alt="">
            </div>
        </div>
    </div>
</main>