.corroxa {
    background-color: #3C157B;
    font-weight: bold;
}

.nav-shadow {
    box-shadow: 1px 10px 7px rgba(0, 0, 0, 0.5);
}

.titulo1 {
    text-shadow: 3px 3px black;
}

.hover {
    border-radius: 5px;
    transition: 0.5s;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.hover:hover {
    background-color: white;
    text-decoration:dashed;
    text-decoration-color: #3C157B;
    color: #3C157B!important;
    transition: 0.5s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    text-shadow:  2px 2px rgba(0, 0, 0, 0.25);
}

.conteudo {
    padding-top: 15px;
    text-align: justify;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}

.titulo {
    padding: 10px;
}

.saibamais {
    padding-top: 30px;
}

.EduCashOn {
    padding-top: 20px;
}

.interrogacao {
    color: coral;
    text-decoration: none;
}

.barra {
    border-top: 0.4px solid gray;
}

.afrase {
    text-align: center;
    font-size: 40px;
    text-shadow: 3px 3px black;
}

.benjamin {
    font-size: 25px;
    text-align: center;
    font-weight: 100;
    text-shadow: 2px 2px black;
}

.bola {
    border-radius: 100%;
    background-color: coral;
    align-items: flex-end;
    text-align: center;
    width: 100px;
    height: 100px;
    margin-left: 45%;
    font-size: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 3px 3px black;
    box-shadow: 1px 10px 7px rgba(0, 0, 0, 0.5);
}

.backbola {
    background: linear-gradient(white 50%, #3C157B 50%);
}

.dropdown-menu {
    border-color: white;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.voltarinicio {
    position:fixed;
    border: 5px solid;
    border-color: #3C157B;
    border-radius: 100%;
    color: #3C157B;
    padding: 2px;
    transition: 0.5s;
}

.voltarinicio:hover {
    background-color: #3C157B;
    color: white;
    transition: 0.5s;
    transition-delay: 0.1s;
}

.card {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.80);
    text-align: center;
    font-size: 15px;
}

.blocoafrase {
    box-shadow: 1px 10px 7px rgba(0, 0, 0, 0.5);
}