.corroxa {
    background-color: #3C157B;
    font-weight: bold;
}

.nav-shadow {
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.hover:hover {
    color: #3C157B;
    transition: 0.5s;
    transform: scale(1.1);
}

.conteudo {
    padding-top: 15px;
    text-align: justify;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}

.titulo {
    padding: 10px;
}

.saibamais {
    padding-top: 30px;
}

.EduCashOn {
    padding-top: 20px;
}

.interrogacao {
    color: coral;
    text-decoration: none;
}