.corroxa {
    background-color: #3C157B;
    font-weight: bold;
}

.nav-shadow {
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.hover:hover {
    color: #3C157B;
    transition: 0.5s;
    transform: scale(1.1);
}

.conteudo {
    padding-top: 15px;
    text-align: justify;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}

.titulo {
    padding: 10px;
}

.saibamais {
    padding-top: 30px;
}

.EduCashOn {
    padding-top: 20px;
}

.interrogacao {
    color: coral;
    text-decoration: none;
}

.barra {
    border-top: 0.4px solid gray;
}

.afrase {
    text-align: center;
    font-size: 40px;
}

.benjamin {
    font-size: 25px;
    text-align: center;
    font-weight: 100;
}

.bola {
    border-radius: 100%;
    background-color: coral;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    margin-left: 45%;
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.backbola {
    background: linear-gradient(white 50%, #3C157B 50%);
}